extends /layout.pug
block content
	.row.justify-content-center.pb-5.mt-5.text-center
	.col-12.col-sm-8.col-md-7.col-lg-4
		.card.shadow.border-top.border-primary
			.card-body
				h2 Welcome.
				a.btn.btn-primary(href='/auth/vk') Log in with VK
